<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-primary mb-3">
  <a class="navbar-brand" href="./">Médico</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive='active'>
        <a class="nav-link" routerLink="/pacientes">Pacientes <span class="sr-only">(current)</span></a>
      </li>


      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink="#">Consutas</a>
      </li>

      <li class="nav-item" routerLinkActive='active'>
        <a class="nav-link" routerLink="#">Agenda</a>
      </li>


      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="nome paciente" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">procurar</button>
      </form>


    </ul>
  </div>
</nav>

<div class="container ml-2">

<router-outlet></router-outlet>

</div>

